.section_swiper__container {
    margin-bottom: 2%;
}

.swiper {
    height: 100%;
    max-height: 300px;
    padding-top: 15px;
    width: 100%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.swiper_pointer_events {
    touch-action: pan-y;
}

.swiper_wrapper {
    box-sizing: initial;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;
}

.swiper_wrapper_transition{
    transform: translate3d(-4013.33px, 0px, 0px);
    transition-duration: 0ms;
    margin: 0 auto;
    transition-timing-function: ease-out;
}

.swiper_slider {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}

.swiper_slider_width {
    width: 543px;
    margin-right: 30px;
}

.border {
    border-radius: 10px;
}

