.header {
    background-color: #fff;
    box-shadow: 0 5px 10px 1px grey;
    padding: 0 5px;
    position: relative;
    width: 100%;
    z-index: 2000;
}

.fixed_top {
    left: 0;
    right: 0;
    top: 0;
}